parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
    phpVersion: 80200
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    reportUnmatchedIgnoredErrors: true
